body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet
}

.container{
    width: 50%;
    margin: 50px auto;
    border:1px solid;
    margin-top: 0
}

.header{
    background-color: aqua;
    width: 50%;
    margin: auto;
    height: 50px;
    text-align: center;
    margin-bottom: 0
  
}
